* {
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	margin: 50px 0 20px 0;
	cursor: pointer;
}

#menu {
	position: fixed;
	top: 20px;
	right: 30px;
	z-index: 2;
}

#menu button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#account {
	position:relative;
	bottom: 3px;
}

#account img {
	width: 30px;
	height: 30px;
}

#account-modal {
	position: fixed;
	top: 70px;
	height: 50px;
	width: 100px;
	text-align: center;
}

#account-modal button {
	border-bottom: solid 1px;
	width: 100%;
	cursor: pointer;
}

#account-modal button:hover {
	color: white;
	letter-spacing: 1px;
	background-color: #91a243;
	border: none;
}

#login-reg-modal {
	position: fixed;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(248,248,248,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#login-reg-modal-content {
	width: 30%;
}

#login-reg-modal-content form {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	border: solid 2px;
	background-color: white;
}

#login-reg-modal-content form input {
	margin: 10px auto;
	width: 80%;
}

#login-reg-modal-content form button {
	margin: 0 auto;
	width: 50%;
	background-color: #91a243;
	color: white;
	letter-spacing: 1px;
	padding: 10px;
}

#cart img {
	width: 40px;
	height: 40px;
}

#cart span {
	font-size: 20px;
	color: #91a243;
	background-color: white;
	position: relative;
	bottom: 21px;
	left: 33px;
	z-index: 1;
}

#slide-button {
	position: fixed;
	font-size: 17px;
	color: black;
	width: 15px;
	background: white;
	border: solid 2px black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
	padding: 10px;
	z-index: 2;
	cursor: pointer;
}

#sidebar {
	border-right: solid 2px;
	height: 100%;
  width: 15%;
  position: fixed;
	top: 50px;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

#sidebar h2 {
	margin-left: 10px;
}

.dropdown {
	text-align: center;
	margin: 20px auto 0px auto;
	border: solid 2px black;
	width: 80%;
	padding: 10px 0 10px 0;
	border-radius: 5px;
	cursor: pointer;
}

.dropdown ul {
	padding-left: 0;
}

.dropdown ul:nth-child(2) {
	border-top: solid 1px black;
}

.dropdown-option {
	background-color: white;
	color: black;
	list-style: none;
	border-bottom: solid 1px black;
	padding: 4px 0 4px 0;
}

.dropdown-option:hover {
	background: #ADD8E6;
}

.dropdownOptionSelected {
	color: white;
	letter-spacing: 1px;
	background-color: #91a243;
}

.dropdownOptionSelected:hover {
	color: white;
	letter-spacing: 1px;
	background-color: #91a243;
}

#etsy_logo, #pinterest_logo {
  align-items: center;
  width: 2.5%;
  height: auto;
  float: right;
  opacity: 0.6;
  margin: 15px 5px 0 0;
}

#pinterest_logo {
  margin: 15px 18px 0 0;
}

#etsy_logo:hover, #pinterest_logo:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #corner_picture {
    display: none;
  }

  #info_panel {
    width: 100%;
  }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#gallery-modal {
  position: fixed;
	align-items: center;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248,248,248,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#gallery-modal-content {
	width: 35%;
	padding: 10px;
	background-color: white;
	border: solid 2px black;
}

#gallery-modal-content img {
	width: 100%;
}

#gallery-modal-content button {
	float: right;
	border: none;
	background-color: #91a243;
	color: white;
	padding: 10px;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
}

#gallery-modal-description p {
	margin-left: 10px;
}

#gallery-modal-nav-back, #gallery-modal-nav-forward {
	width: 15px;
	padding: 10px;
	background-color: white;
	color: black;
	cursor: pointer;
}

#gallery-modal-nav-back {
	border: solid 2px black;
	border-right: none;
	margin-right: -2px;
	z-index: 3;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#gallery-modal-nav-forward {
	border: solid 2px black;
	border-left: none;
	margin-left: -2px;
	z-index: 3;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

@media screen and (max-width: 800px) {
  .autoplay {
    width: 100%;
    margin: 40px auto;
  }
}

/* thumbnail-modal page*/

#thumbnail_container {
  margin: 0 auto;
  width: 80%;
  font-size: 0;
	display: flex;
	flex-wrap: wrap;
}

.imageWrapper {
  width: 50px;
}

.thumbnail {
  position: relative;
  display: inline-block;
  width: 23.5%;
  padding-bottom: 23.5%;
	margin: 0.75%;
  overflow: hidden;
  font-size: 0;
}

.thumbnail img {
	position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
	cursor: pointer;
}

.thumbnail_container {
  width: 80%;
  margin: 20px auto 0 auto;
  font-size: 0;
}

.thumbnail img:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1000px) {

  .thumbnail {
    width: 30.6%;
		padding-bottom: 30.6%;
		margin: 1.36%;
  }

	#gallery-modal-content {
		width:50%;
	}
}

@media screen and (max-width: 700px) {
  .thumbnail {
    width: 48%;
		padding-bottom: 48%;
		margin: 1%;
  }

	#thumbnail-container {
		width: 100%;
	}

	#gallery-modal-content {
		width:60%;
	}
}

@media screen and (max-width: 300px) {
  .thumbnail {
    width: 100%;
		padding-bottom: 100%;
		margin: 1%;
  }
}

#gallery-modal-close {
  position: absolute;
  top: 47px;
  right: 86px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
	cursor: pointer;
}

#order {
	width: 57%;
	margin-left: 10%;
	float: left;
}

th, td {
  border-bottom: 1px solid #ddd;
	padding-left: 8%;
	padding-right: 4%;
}

#order table th:first-child,
#order table td:first-child {
	padding-left: 0;
}

#order table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

td img {
	width: 100%;
}

td input {
	width: 20px;
	text-align: right;
}

#checkout {
	float: left;
	padding: 20px;
	margin-left: 3%;
	width: 15%;
	border: solid 1px;
	border-radius: 5px;
}

#checkout p {
	margin: 2px;
}

#checkout button {
	float: right;
	border: none;
	background-color: #91a243;
	color: white;
	padding: 10px;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
}
