<div>
  <div ng-controller="SidebarCtrl as sidebar">
    <div id="slide-button" ng-click="sidebar.transition()" ng-style="{'left': sidebar.left}">
      {{sidebar.direction}}
    </div>
    <div id="sidebar" ng-show="sidebar.status" ng-style="{'background-color': sidebar.background}">
      <h2>filters</h2>
      <div ng-controller="DropdownsCtrl as dropdowns">
        <dropdown title="medium" menu="dropdowns.medium"></dropdown>
        <dropdown title="dimensions" menu="dropdowns.dimensions"></dropdown>
        <dropdown title="theme" menu="dropdowns.theme"></dropdown>
        <dropdown title="type" menu="dropdowns.type"></dropdown>
      </div>
    </div>
  </div>
  <main>
    <div ng-controller="GalleryModalCtrl as galleryModal">
      <div id="thumbnail_container" ng-controller="CatalogCtrl as catalog">
        <div class="thumbnail" ng-repeat="work in catalog.getWorks()" ng-show="catalog.getGalleryFilters(work)">
          <img class="work" src={{work.imgUrl}} alt={{work.title}} ng-click="galleryModal.makeModal(work, $index)"/>
        </div>
      </div>
      <div id="gallery-modal" ng-show="galleryModal.status" ng-click="galleryModal.closeModal($event)" ng-keydown="galleryModal.keydown($event)">
        <div id="gallery-modal-nav-back" ng-click="galleryModal.goBackwards();$event.stopPropagation()"><</div>
        <div id="gallery-modal-content">
          <img src={{galleryModal.work.imgUrl}}>
          <div id="gallery-modal-description">
            <h3>{{galleryModal.work.title}}</h3>
            <p>
              <span ng-show="galleryModal.work.dimensions">{{galleryModal.work.dimensions}}, </span>
              {{galleryModal.work.type}}, {{galleryModal.work.medium}}
            </p>
            <p>{{galleryModal.work.price | currency}}</p>
          </div>
          <button ng-click="galleryModal.addToCart(galleryModal.work)">purchase</button>
        </div>
        <div id="gallery-modal-nav-forward" ng-click="galleryModal.goForwards();$event.stopPropagation()">></div>
        <span id="gallery-modal-close" ng-click="gallery-modal.closeModal($event)">&times;</span>
      </div>
    </div>
  </main>
</div>
